html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

h1 {
    color: #7070db;
    font-size: 40px;
    text-align: center;
    padding-top: 5%;
    font-family: 'Nunito Sans', sans-serif;
    /*text-decoration: underline;*/
}

img {
    height: 70px;
    width: 70px;
    padding: 10px;
}

#mypic {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 300px;
}

#myname {
    font-family: 'Sacramento', cursive;
    font-size: 110px;
    color: white;
    text-align: center;
    text-decoration: none;
    margin-top: 0px;
    padding-top: 10vh;
    padding-bottom: 5vh;
}

.note {
    text-align: center;
    color: red;
    font-size: 22px;
    padding: 40px;
    font-family: 'Nunito Sans';
    padding-bottom: 0px;
    margin-bottom: 0;
    font-weight: bold;
}

#welcome {
    height: 30vh;
    width: 100%;
    background-color: #7070db;
}

.describe {
    padding-top: 1%;
    padding-right: 15%;
    padding-left: 15%;
    font-size: 25px;
    font-family: 'Nunito Sans', sans-serif;
}

#aboutme {
    background-color: white;
    font-size: 15px;
}

#edutable {
    margin: 0 auto;
}

#skilltable {
    margin: 0 auto;
    margin-top: 40px;
}

#contactlinks {
    text-align: center;
}

.btn2 {
    background-color: white;
    border: none;
    color: black;
    font-size: 90px;
    opacity: 0.9;
    padding: 10px;
}